html {
    font-family: 'Source Serif Pro', serif;
    background-color: #708090;
}


.logo img {
    width: 40%;
    margin-left: 55%;
}

#Designer {
    color: #228B22;
    position: relative;
    left: 80%;
    width: 100px;

}

.menu {
    position: relative;
    left: 80%;
    width: 100px;
    padding: 0 0;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover{
    color: #D9FF59;
    cursor: pointer;
}


.heroImg {
    border-width: 1px;
    border-color: red;
    border-style: dotted;
    background-color: black;
    color: white;
}

.mySkills {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px; 
}

.mySkills img {
    width: 50%;
    height: auto;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;

}

.flexContainer div {
    width: 33%;
    padding: 5px;
    margin: 5px;
}

.flexContainer2 {
    display: flex;
    flex-direction: row;
    padding: 10px;

}

.flexContainer2 div {
    width: 33%;
    padding: 5px;
    margin: 5px;
}

.footer {
    width: auto;
    list-style-type: none;
    background-color: #708090;
}

.footer li {
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    position: relative;
    left: 15%;
}
