html {
    font-family: 'Source Serif Pro', serif;
    background-color: #708090;
}


.logo img {
    width: 40%;
    margin-left: 55%;
}

#Designer {
    color: #228B22;
    position: relative;
    left: 80%;
    width: 100px;

}

.menu {
    position: relative;
    left: 80%;
    width: 100px;
    padding: 0 0;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover{
    color: #D9FF59;
    cursor: pointer;
}


.heroImg {
    background-color: black;
    color: white;
}

.myWork {
    width: 50%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

.workGrid {
    border-style: dotted;
    border-color: violet;
    border-width: 1px;
    padding: 10px;
    column-gap: 5px;
    row-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-template-areas:
    "img details button"
    "img details button"
    "img details button"
    "img details button"
    ;
}

.itemA {
    grid-area: "img";
}

.itemB {
    grid-area: "img";
}

.itemC {
    grid-area: "img";
}

.itemD {
    grid-area: "img";
}

.item1 {
    grid-area: "details";
}

.item2 {
    grid-area: "details";
}

.item3 {
    grid-area: "details";
}

.item4 {
    grid-area: "details";
}

.button1 {
    grid-area: "button";
}

.button2 {
    grid-area: "button";
}

.button3 {
    grid-area: "button";
}

.button4 {
    grid-area: "button";
}


.workGrid div {
    border-style: dotted;
    border-color: violet;
    border-width: 1px;
    text-align: center;
    padding: 5px 5px;
}

.button {
    background-color: #9E00BB;
    color: white;
    width: 150px;
    text-align: center;
    height: 50px;
    transition: 0.5s;
}

.button:hover {
    background-color:#EB7EFF;
    color: black;
    cursor: pointer;
}


.footer {
    width: auto;
    list-style-type: none;
    background-color: #708090;
}

.footer li {
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    position: relative;
    left: 15%;
}

@media only screen and (max-width: 600) {
    .workGrid {
        border-style: dotted;
        border-color: violet;
        border-width: 1px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-template-areas:
        "img"
        "details"
        "button"
        ;
    }

}
